:root {
    --pearl-aqua: #99d5c9;
    --pacific-blue: #6c969d;
    --dusty-grape: #645e9d;
    --dark-amethyst: #392b58;
    --coffe-bean: #13010d;
    --kirmizi: #e63946;
    --koyu-kirmizi : #bd2a36;
    --acik-kirmizi : rgba(230, 57, 70, 0.1);
    --koyu-laciver: #111827;
    --gri-metin : #4b5563;
    --beyaz: #ffffff;;
    --led-aksan-spectral-lime: #CCFF00;
    --led-aksan-cyber-cyan: #00F3FF;
    --gecis: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.led-button:hover {
    border-image-source: linear-gradient(45deg, var(--led-aksan-cyber-cyan), var(--led-aksan-spectral-lime));
    box-shadow: -1px 1px 5px var(--led-aksan-cyber-cyan), 1px -1px 5px var(--led-aksan-spectral-lime);
    scale: 1.05;
}

.led-button {
    border: 2px solid;
    border-image-source: linear-gradient(45deg, var(--led-aksan-spectral-lime), var(--led-aksan-cyber-cyan));
    border-image-slice: 1;
}

.led-input {
    border: 2px solid;
    border-image-source: linear-gradient(45deg, var(--led-aksan-spectral-lime), var(--led-aksan-cyber-cyan));
    border-image-slice: 1;
}

.led-input:focus {
    outline: none;
    border-image-source: linear-gradient(45deg, var(--led-aksan-cyber-cyan), var(--led-aksan-spectral-lime));
    box-shadow: -1px 1px 5px var(--led-aksan-cyber-cyan), 1px -1px 5px var(--led-aksan-spectral-lime);
    transition: var(--gecis);
}

.bg-video-container {
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.7);
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 2;    
}

.content {
    border: 1px solid;
    border-image-source: linear-gradient(45deg, var(--led-aksan-spectral-lime), var(--led-aksan-cyber-cyan));
    border-image-slice: 1;
    margin-top: auto;
    margin-bottom: 20px;
    background: rgba(86, 47, 126, 0.1);
    backdrop-filter: blur(5px);
    position: relative;
    z-index: 3;
    max-width: 800px;
    padding: 20px;
}

.led-title {
    text-shadow: 0px 0px 2px white;
}

.led-p {
    text-shadow: 0px 0px 0.7px white;
}

.led-header {
    background: linear-gradient(0deg, var(--coffe-bean), #3c0329);
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    width: 100px;
    color: var(--beyaz);
    font-weight: bold;
}

input {
    flex: 1;
    max-width: 300px;
}

.led-logo {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;           
    margin-bottom: 20px;
    text-shadow: -1px -1px 0px var(--led-aksan-cyber-cyan), 1px 1px 0px var(--led-aksan-spectral-lime);
}

.led-customers-carousel {
    justify-content: center;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.carousel {
    display: flex;
    gap: 20px;
}

.carousel-image-container {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid;
    border-image-source: linear-gradient(45deg, var(--led-aksan-spectral-lime), var(--led-aksan-cyber-cyan));
    border-image-slice: 1;
}

.carousel-image {
    transition: ;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    transition: var(--gecis);
    opacity: 0;
}

.carousel-item:hover .info {
    transition: var(--gecis);
    opacity: 1;
}

.carousel-item:hover .carousel-image-container {
    transition: var(--gecis);
    border-image-source: linear-gradient(45deg, var(--led-aksan-cyber-cyan), var(--led-aksan-spectral-lime));
    box-shadow: -1px 1px 5px var(--led-aksan-cyber-cyan), 1px -1px 5px var(--led-aksan-spectral-lime);
}